<h1>Margarita's Birthday List</h1>

<%= link_to "Add an Item", new_item_path %>

<div class="items-container">

  <% @items.each do |item| %>
    <div class="item">
      <%= link_to image_tag(item.image), item.url, target: :_blank, class: "main-image" %>
      <p><%= item.title %></p>
      <p><%= item.description %></p>
      <p><a href=" <%= item.url%> ">Link</a></p>
      <p><%= link_to "Edit", edit_item_path(item) %> | <%= link_to "Delete", item, method: :delete, data: {confirm:"Are you sure you want to delete this item?"} %></p>
    </div>
  <% end %>


</div>
